@model IEnumerable<EduPlus.Models.Teacher>

@{
    ViewBag.Title = "Manage Teachers";
}

<p>
    @Html.ActionLink("Click here to Add", "AddOrUpdate", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeacherId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.TeacherId
            </td>
            <td>
                @item.FullName
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @Html.ActionLink("Update", "AddOrUpdate", new { id = item.TeacherId }, new { @class = "btn btn-outline-primary" })
                @Html.ActionLink("Manage Teacher Lectures", "Index", "ManageTeacherLectures", new { id = item.TeacherId }, new { @class = "btn btn-outline-primary" })

                @using (Html.BeginForm("Remove", "ManageTeachers"))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("TeacherId", item.TeacherId)
                    <input type="submit" value="Remove" class="btn btn-danger" onclick="return removeConfirmation();" />
                }
            </td>
        </tr>
    }
</table>

