@model IEnumerable<EduPlus.Models.Lecture>

@{
    ViewBag.Title = "Manage Lectures";
}

<p>
    @Html.ActionLink("Click here to Add", "AddOrUpdate", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LectureId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinMinutes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxMinutes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.LectureId
            </td>
            <td>
                @item.Subject
            </td>
            <td>
                @item.MinMinutes
            </td>
            <td>
                @item.MaxMinutes
            </td>
            <td>
                @Html.ActionLink("Update", "AddOrUpdate", new { id = item.LectureId }, new { @class = "btn btn-outline-primary" })

                @using (Html.BeginForm("Remove", "ManageLectures"))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("LectureId", item.LectureId)
                    <input type="submit" value="Remove" class="btn btn-danger" onclick="return removeConfirmation();" />
                }
            </td>
        </tr>
    }
</table>

